* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-image: url('/images/hero_background.jpg'); */

  color: white;
  font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}

#home {
  background-color: black;
  color: white;
}

h1,
h2,
h3,
p,
a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  line-height: 2em;
}

nav ul {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav ul a {
  padding: 20px;
  color: inherit;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-size: xx-large;
  color: inherit;
}

main h2 span {
  color: orange;
}

#about {
  background-color: orange;
  color: black;
}

#about section {
  width: 50%;
  margin: 0 auto;
}

#about section div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about div {
  margin: 10px 20px;
}

#about div hr {
  background-color: black;
  border: none;
  padding: 2px;
}

#about div p {
  text-align: justify;
  line-height: 2em;
}

#about section li {
  margin: 10px;
}

#about div img {
  width: 200px;
}

#skills h1 {
  text-align: center;
}

#skills {
  background-color: black;
  color: white;

}

#skills main {
  margin-top: 100px;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
}

.icons p {
  margin: 30px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons i {
  margin: 10px 0;
  font-size: 5em;
}

.icons i span {
  font-size: 1em;
  text-align: center;
}

.tech-used {
  margin: 0px;
  justify-content: flex-start;
  padding: 5px;
}

.tech-used i {
  margin: 0px 2px;
  font-size: 1em;
}

#projects {
  background-color: orange;
  color: white;
}

#projects main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#projects section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100vw;
  position: relative;
  top: 0;
  left: -8px;
  color: black;
}

#projects section:nth-child(2),
#projects section:last-child {
  justify-self: right;
  align-self: center;
  background-color: black;
  color: white;
}

#projects section:nth-child(2) button,
#projects section:last-child button {
  color: white;
  background-color: orange;
}

#projects section div {
  padding: 10px 20px;
  margin: 0px;
  height: 100%;

}

#projects div button {
  border: none;
  background-color: black;
  margin: 5px auto;
  padding: 10px 20px;
}

#projects div button:hover {
  background-color: rgb(129, 85, 2);
}

#projects div button i {
  font-size: inherit;
  color: white;
}

#projects div button a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  color: white;
}


#projects div p {
  line-height: 2em;
  font-size: 1.2em;
}

#projects section img {
  width: 400px;
}

#contact {
  background-color: black;
  color: white;
}

#contact main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact button {
  border: none;
  font-size: 2em;
  margin: 20px;
  padding: 10px 20px;
}

#contact button a,
#contact button i {
  color: black;
  font-size: inherit;
}

.slide {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  background-color: rgb(8, 5, 5);
  transition: left 0.5s ease-out;
}

.slide.is-active {
  opacity: 1;
  left: 0;
}

.profile-circle {
  border: none;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  background-image: url('../images/profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 468px) {
  nav {
    display: none;
  }

  main section {
    width: auto !important;
  }
}